<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="subjectsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Subjects
        </a>
        <ul class="dropdown-menu" aria-labelledby="subjectsDropdown">
          <li><a class="dropdown-item" href="#">Math</a></li>
          <li><a class="dropdown-item" href="#">Science</a></li>
          <li><a class="dropdown-item" href="#">History</a></li>
          <li><a class="dropdown-item" href="#">Language Arts</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </header>
</div>
